#root{
min-width: 320px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 1rem;
}

header {
    padding: 15px;
  }

  .logo-box {
    min-width: 20px;
    min-height: 20px;
  }

  .logo {
    width: 100px;
  }

  .animated-text {
    padding-bottom: 2px;
}
.letter {
    color: white;
    opacity: 0;
    transition: color 0.8s infinite;
}
.active {
    font-size: 1rem;
    opacity: 1;
    color:#f3ac98;
    transition: color 0.8s ease-in-out;
 }

  .name-page-text {
    animation: fade-in-out 30s infinite;
    margin-top: 2rem;
    color: #0a1b35;
    font-weight: 700;
  }
  
  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
  }

  #buttons-container {
    width: 100%;
    min-height: 15rem;
    justify-content: space-between;
    color: #0a1b35 
  }
  #buttons-container button {
    border: 2px solid #f3ac98;
    padding: auto;
    width: 20rem;
  }
  
  #buttons-container button:hover {
    text-decoration: underline;
    cursor: pointer;
  } 

  .link-clicked {
    color: #0a1b35; /* Remove a mudança de cor no texto após clicado, modificando a cor do texto para azul.*/
    pointer-events: none; 
    text-decoration-color: #0a1b35; /* Impede que novos eventos de clique sejam disparados na tag */
  }
  footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }