#root{
min-width: 320px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 1rem;
}

header {
    padding: 15px;
  }

  .logo-box {
    min-width: 20px;
    min-height: 20px;
  }

  .logo {
    width: 15rem;
  }

  .animated-text {
    
}
.letter {
    color: white;
    transition: all 0.8s ease-in-out;
}
.active {
    font-size: 1.5rem;
    color:#f3ac98;
    transition: all 0.8s ease-in-out;
 }

  .name-page-text {
    animation: fade-in-out 3s infinite;
  }
  
  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }
  /*
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  .button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4286f4;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s ease;
  }
  
  .button:hover {
    background-color: #2882e7;
  }

  footer {
    background-color: #f0f0f0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */